In [8]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
pd.__version__

'2.0.3'

In [9]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@pgdatabase:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
df = pd.read_csv('nyc_trip_data/green_tripdata_2019-10.csv', low_memory=False)
row_count, column_count = df.shape
print("Number of rows ", row_count)

NameError: name 'pd' is not defined

In [64]:
df = pd.read_csv('nyc_trip_data/green_tripdata_2019-10.csv', low_memory=False, nrows=100000)

In [65]:
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [66]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [67]:
df_iter = pd.read_csv('nyc_trip_data/green_tripdata_2019-10.csv', low_memory=False, iterator=True, chunksize=100000)

In [68]:
df.head(n=0).to_sql('green_taxi_data',con=engine, if_exists='replace')

0

In [69]:
from time import time

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql('green_taxi_data',con=engine, if_exists='append')

    t_end = time()

    print('inserted chunk..., took %.3f second' % (t_end - t_start))

inserted chunk..., took 8.711 second
inserted chunk..., took 8.493 second
inserted chunk..., took 8.862 second