In [1]:
import pyspark

In [2]:
pyspark.__file__

'/usr/local/spark/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[2]") \
    .appName('test') \
    .getOrCreate()

In [5]:
# Get Spark Version
spark.version

'3.5.0'

In [6]:
# Get Taxi Zone Lookup

In [7]:
#!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

In [14]:
!head taxi_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [8]:
df1 = spark.read.csv('/home/codespace/work/Homework5/taxi_zone_lookup.csv')

In [9]:
df1.show()

+----------+-------------+--------------------+------------+
|       _c0|          _c1|                 _c2|         _c3|
+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [10]:
df1.count()

266

In [11]:
df1 = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [12]:
df1.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [13]:
#df1.write.parquet('zones')

In [14]:
!ls

head.csv       partition_yellow_tripdata  yellow_tripdata_2024-10.parquet
Module5.ipynb  taxi_zone_lookup.csv

In [15]:
# Get Yellow Trip Data

In [16]:
#!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

In [17]:
df2 = spark.read \
    .option("header", "true") \
    .parquet('yellow_tripdata_2024-10.parquet')

In [18]:
df2.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|
|       1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       2| 2024-10-01 00:07:26|  2024-10-01 00:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|        0.0|
|       2| 2024-10-01 00:17:11|  2024-10-01 00:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       2| 2024-10-01 00:00:34|  2024-10-01 00:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-09-30 23:58:40|  2024-10-01 00:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|        0.0|
|       1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|        0.0|
|       1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       1.75|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|        0.0|
|       2| 2024-10-01 00:39:33|  2024-10-01 00:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [19]:
df2.count()

3833771

In [20]:
# Create Custom Schema

In [21]:
import pandas as pd

In [22]:
df2.schema

StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True)])

In [23]:
from pyspark.sql import types

In [24]:
schema = types.StructType([
    types.StructField('VendorID', types.IntegerType(), True), 
    types.StructField('tpep_pickup_datetime', types.TimestampType(), True), 
    types.StructField('tpep_dropoff_datetime', types.TimestampType(), True), 
    types.StructField('passenger_count', types.LongType(), True), 
    types.StructField('trip_distance', types.DoubleType(), True), 
    types.StructField('RatecodeID', types.LongType(), True), 
    types.StructField('store_and_fwd_flag', types.StringType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('payment_type', types.LongType(), True), 
    types.StructField('fare_amount', types.DoubleType(), True), 
    types.StructField('extra', types.DoubleType(), True), 
    types.StructField('mta_tax', types.DoubleType(), True), 
    types.StructField('tip_amount', types.DoubleType(), True), 
    types.StructField('tolls_amount', types.DoubleType(), True), 
    types.StructField('improvement_surcharge', types.DoubleType(), True), 
    types.StructField('total_amount', types.DoubleType(), True), 
    types.StructField('congestion_surcharge', types.DoubleType(), True), 
    types.StructField('Airport_fee', types.DoubleType(), True)
])

In [25]:
df2=spark.read \
    .option("header", "true") \
    .schema(schema) \
    .parquet('yellow_tripdata_2024-10.parquet')

In [26]:
df2.head(10)

[Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 30, 44), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 48, 26), passenger_count=1, trip_distance=3.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=162, DOLocationID=246, payment_type=1, fare_amount=18.4, extra=1.0, mta_tax=0.5, tip_amount=1.5, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=24.9, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 12, 20), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 25, 25), passenger_count=1, trip_distance=2.2, RatecodeID=1, store_and_fwd_flag='N', PULocationID=48, DOLocationID=236, payment_type=1, fare_amount=14.2, extra=3.5, mta_tax=0.5, tip_amount=3.8, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=23.0, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 4, 46), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 13, 52), passenger_count=1, trip_distance=2.7, RatecodeID=1, store_and_fwd_flag='N', PULocationID=142, DOLocationID=24, payment_type=1, fare_amount=13.5, extra=3.5, mta_tax=0.5, tip_amount=3.7, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=22.2, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 12, 10), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 23, 1), passenger_count=1, trip_distance=3.1, RatecodeID=1, store_and_fwd_flag='N', PULocationID=233, DOLocationID=75, payment_type=1, fare_amount=14.2, extra=3.5, mta_tax=0.5, tip_amount=2.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=21.2, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 30, 22), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 30, 39), passenger_count=1, trip_distance=0.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=262, DOLocationID=262, payment_type=3, fare_amount=3.0, extra=3.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=8.0, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 31, 20), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 36), passenger_count=2, trip_distance=0.97, RatecodeID=1, store_and_fwd_flag='N', PULocationID=137, DOLocationID=137, payment_type=1, fare_amount=7.2, extra=1.0, mta_tax=0.5, tip_amount=2.44, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=14.64, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 42, 57), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 49, 1), passenger_count=1, trip_distance=1.3, RatecodeID=1, store_and_fwd_flag='N', PULocationID=142, DOLocationID=48, payment_type=1, fare_amount=7.9, extra=3.5, mta_tax=0.5, tip_amount=2.55, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=15.45, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 59, 55), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 1, 2, 24), passenger_count=1, trip_distance=0.5, RatecodeID=1, store_and_fwd_flag='N', PULocationID=230, DOLocationID=161, payment_type=1, fare_amount=5.1, extra=3.5, mta_tax=0.5, tip_amount=2.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=12.1, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 0, 47), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 4, 22), passenger_count=0, trip_distance=1.1, RatecodeID=1, store_and_fwd_flag='N', PULocationID=142, DOLocationID=237, payment_type=1, fare_amount=7.2, extra=3.5, mta_tax=0.5, tip_amount=3.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=15.2, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 0, 17, 36), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 0, 26, 22), passenger_count=1, trip_distance=2.2, RatecodeID=1, store_and_fwd_flag='N', PULocationID=162, DOLocationID=145, payment_type=1, fare_amount=11.4, extra=3.5, mta_tax=0.5, tip_amount=3.3, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=19.7, congestion_surcharge=2.5, Airport_fee=0.0)]

In [22]:
# Question 2
# Create Partition

In [35]:
df2 = df2.repartition(4)

In [36]:
# Write Partitioned data frame to directory specified below
df2.write.parquet('partition_yellow_tripdata')

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/home/codespace/work/Homework5/partition_yellow_tripdata already exists. Set mode as "overwrite" to overwrite the existing path.

In [27]:
# More Data Manipulation

In [28]:
# A nicer way to show the schema
df1.printSchema()
df2.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [29]:
df2.select('tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(df2.passenger_count == 1) \
    .show()

+--------------------+---------------------+------------+------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|PULocationID|DOLocationID|
+--------------------+---------------------+------------+------------+
| 2024-10-01 00:30:44|  2024-10-01 00:48:26|         162|         246|
| 2024-10-01 00:12:20|  2024-10-01 00:25:25|          48|         236|
| 2024-10-01 00:04:46|  2024-10-01 00:13:52|         142|          24|
| 2024-10-01 00:12:10|  2024-10-01 00:23:01|         233|          75|
| 2024-10-01 00:30:22|  2024-10-01 00:30:39|         262|         262|
| 2024-10-01 00:42:57|  2024-10-01 00:49:01|         142|          48|
| 2024-10-01 00:59:55|  2024-10-01 01:02:24|         230|         161|
| 2024-10-01 00:17:36|  2024-10-01 00:26:22|         162|         145|
| 2024-10-01 00:49:00|  2024-10-01 00:52:20|         229|         162|
| 2024-10-01 00:07:26|  2024-10-01 00:13:20|         162|         162|
| 2024-10-01 00:17:11|  2024-10-01 00:25:00|         162|         230|
| 2024-10-01 00:00:34|  2024-10-01 00:05:13|         211|         234|
| 2024-09-30 23:58:40|  2024-10-01 00:20:26|         142|           7|
| 2024-10-01 00:55:29|  2024-10-01 01:42:35|         161|         197|
| 2024-10-01 00:08:59|  2024-10-01 00:40:58|         132|         243|
| 2024-10-01 00:39:33|  2024-10-01 00:53:59|         247|          60|
| 2024-10-01 00:24:14|  2024-10-01 00:35:48|         234|         231|
| 2024-10-01 01:00:05|  2024-10-01 01:11:18|         233|          74|
| 2024-10-01 00:32:23|  2024-10-01 00:42:38|         262|         236|
| 2024-10-01 00:29:02|  2024-10-01 00:39:09|         263|         238|
+--------------------+---------------------+------------+------------+
only showing top 20 rows

In [30]:
from pyspark.sql import functions as F

In [31]:
# Question 3
df2.select('tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(F.to_date('tpep_pickup_datetime') == '2024-10-15') \
    .count()
#    .show()

128893

In [32]:
from pyspark.sql.functions import col
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import desc, asc

In [33]:
# Question 4
df3 = df2.withColumn('tpep_pickup_epoch', unix_timestamp(col('tpep_pickup_datetime'))) \
    .withColumn('tpep_dropoff_epoch', unix_timestamp(col('tpep_dropoff_datetime'))) \
    .withColumn('trip_time', (col('tpep_dropoff_epoch') - col('tpep_pickup_epoch')) / 3600)

In [34]:
df3.select('trip_time', 'tpep_dropoff_epoch', 'tpep_pickup_epoch','tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .sort(desc('trip_time')) \
    .show()

+------------------+------------------+-----------------+--------------------+---------------------+------------+------------+
|         trip_time|tpep_dropoff_epoch|tpep_pickup_epoch|tpep_pickup_datetime|tpep_dropoff_datetime|PULocationID|DOLocationID|
+------------------+------------------+-----------------+--------------------+---------------------+------------+------------+
|162.61777777777777|        1729669253|       1729083829| 2024-10-16 13:03:49|  2024-10-23 07:40:53|          48|         265|
|           143.325|        1728497215|       1727981245| 2024-10-03 18:47:25|  2024-10-09 18:06:55|         100|         100|
|137.76055555555556|        1730108793|       1729612855| 2024-10-22 16:00:55|  2024-10-28 09:46:33|         186|         226|
|114.83472222222223|        1729658617|       1729245212| 2024-10-18 09:53:32|  2024-10-23 04:43:37|         116|         163|
| 89.89833333333333|        1729794618|       1729470984| 2024-10-21 00:36:24|  2024-10-24 18:30:18|         122|         138|
| 89.44611111111111|        1729753058|       1729431052| 2024-10-20 13:30:52|  2024-10-24 06:57:38|         237|         119|
| 70.29916666666666|        1729866169|       1729613092| 2024-10-22 16:04:52|  2024-10-25 14:22:49|         236|         193|
| 67.57333333333334|        1729004835|       1728761571| 2024-10-12 19:32:51|  2024-10-15 15:07:15|         161|         138|
| 66.06666666666666|        1729425738|       1729187898| 2024-10-17 17:58:18|  2024-10-20 12:02:18|         186|          85|
|           46.4225|        1729688022|       1729520901| 2024-10-21 14:28:21|  2024-10-23 12:53:42|         261|          33|
| 42.30888888888889|        1729603020|       1729450708| 2024-10-20 18:58:28|  2024-10-22 13:17:00|         132|         130|
| 38.47416666666667|        1729940305|       1729801798| 2024-10-24 20:29:58|  2024-10-26 10:58:25|         138|          97|
| 33.95111111111111|        1729849746|       1729727522| 2024-10-23 23:52:02|  2024-10-25 09:49:06|         216|         138|
| 26.29861111111111|        1727960085|       1727865410| 2024-10-02 10:36:50|  2024-10-03 12:54:45|         230|         132|
| 25.29138888888889|        1729036642|       1728945593| 2024-10-14 22:39:53|  2024-10-15 23:57:22|          13|         132|
|25.238333333333333|        1729083813|       1728992955| 2024-10-15 11:49:15|  2024-10-16 13:03:33|          48|          48|
|             24.47|        1729770670|       1729682578| 2024-10-23 11:22:58|  2024-10-24 11:51:10|         207|         193|
|23.996666666666666|        1729517852|       1729431464| 2024-10-20 13:37:44|  2024-10-21 13:37:32|         166|          42|
|23.995277777777776|        1729023723|       1728937340| 2024-10-14 20:22:20|  2024-10-15 20:22:03|         230|          48|
|23.994722222222222|        1727982228|       1727895847| 2024-10-02 19:04:07|  2024-10-03 19:03:48|         132|          79|
+------------------+------------------+-----------------+--------------------+---------------------+------------+------------+
only showing top 20 rows

In [35]:
# Question 6

from pyspark.sql.functions import sum, count

In [36]:
grouped_df3 = df3.groupBy('PULocationID') \
    .agg(count('*') \
    .alias('trip_count'))

In [37]:
grouped_df3.sort(asc('trip_count')) \
    .limit(5) \
    .show()

+------------+----------+
|PULocationID|trip_count|
+------------+----------+
|         105|         1|
|           5|         2|
|         199|         2|
|           2|         3|
|         111|         3|
|          44|         4|
|          84|         4|
|         245|         4|
|         204|         4|
|         187|         4|
|         109|         6|
|          59|         6|
|         156|         7|
|         118|         7|
|         206|         9|
|         176|         9|
|         172|        10|
|          30|        10|
|         251|        12|
|         184|        12|
+------------+----------+
only showing top 20 rows

In [45]:
joined_df3 = grouped_df3.join(df1, (grouped_df3.PULocationID == df1.LocationID)) \
    .sort(asc('trip_count')) \
    .limit(5) \
    .show()

+------------+----------+----------+-------------+--------------------+------------+
|PULocationID|trip_count|LocationID|      Borough|                Zone|service_zone|
+------------+----------+----------+-------------+--------------------+------------+
|         105|         1|       105|    Manhattan|Governor's Island...| Yellow Zone|
|           5|         2|         5|Staten Island|       Arden Heights|   Boro Zone|
|         199|         2|       199|        Bronx|       Rikers Island|   Boro Zone|
|         111|         3|       111|     Brooklyn| Green-Wood Cemetery|   Boro Zone|
|           2|         3|         2|       Queens|         Jamaica Bay|   Boro Zone|
+------------+----------+----------+-------------+--------------------+------------+

In [39]:
df1.filter(df1.LocationID == '105').show()

+----------+---------+--------------------+------------+
|LocationID|  Borough|                Zone|service_zone|
+----------+---------+--------------------+------------+
|       105|Manhattan|Governor's Island...| Yellow Zone|
+----------+---------+--------------------+------------+